<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KolikSoftware.Eee.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KolikSoftware.Eee.Client.Properties.Settings>
            <setting name="ShowInTaskbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BlinkConnected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifyConnected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProxyServer" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyUser" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="RefreshRate" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SaveCredentials" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultUser" serializeAs="String">
                <value>hhh</value>
            </setting>
            <setting name="IconNotificationType" serializeAs="String">
                <value>Blink</value>
            </setting>
            <setting name="AutoAwayDelay" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysNotifyAboutPersonalMessage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifyAboutIgnoredPersonalMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StopIconOnMouseOver" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseProfessionalAppearance" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MessageTemplateNo" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ResetLayout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LatestUpdateNo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ToolStripSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="MediaBarVisible" serializeAs="String">
                <value>OnMedia</value>
            </setting>
            <setting name="EnterSends" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MediaVolume" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="JabberID" serializeAs="String">
                <value />
            </setting>
            <setting name="JabberPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="NewServiceUrl" serializeAs="String">
                <value>http://comet.service.eeechat.net</value>
            </setting>
        </KolikSoftware.Eee.Client.Properties.Settings>
    </userSettings>
</configuration>