<div class="User">
	<div class="Avatar">
		<img class="AvatarImage" src="[AvatarUrl1]" />
	</div>
	<h1 class="UserName"><a href="Users:[UserName1]" style="color:[UserColorHex1]">[UserName1]</a></h1>
	<br />
</div>
<div class="User">
	<div class="Avatar">
		<img class="AvatarImage" src="[AvatarUrl2]" />
	</div>
	<h1 class="UserName"><a href="Users:[UserName2]" style="color:[UserColorHex2]">[UserName2]</a></h1>
</div>
<div class="Status"></div>
<div style="clear:both" />
<div class="Info">
	<span class="InfoDelimiter">Updated at</span>
	<span class="Time" style="color:[UserColorHex1]">[Time]</span>
	<span class="InfoDelimiter">[RoomInfoDelimiter]</span>
	<span class="Room" style="color:[UserColorHex1]">[Room]</span>
</div>
<p class="Text">[Text]</p>
