<table>
<tr>
<td class="Avatar">
	<img class="AvatarImage" src="[AvatarUrl1]" />
</td>
<td class="Content" rowspan="2">
	<div class="Info">
		<div class="Status"></div>
		<span class="InfoDelimiter">At</span>
		<span class="Time" style="color:[UserColorHex1]">[Time]</span>
		<span class="InfoDelimiter">[RoomInfoDelimiter]</span>
		<span class="Room" style="color:[UserColorHex1]">[Room]</span>
		<span class="InfoDelimiter">by</span>
		<span class="UserName"><a href="Users:[UserName1]" style="color:[UserColorHex1]">[UserName1]</a></span>		
		<span class="InfoDelimiter">and</span>
		<span class="UserName"><a href="Users:[UserName2]" style="color:[UserColorHex2]">[UserName2]</a></span>		
	</div>
	<p class="Text">[Text]</p>
</td>
<tr>
<td class="Avatar">
	<img class="AvatarImage" src="[AvatarUrl2]" />
</td>
</tr>
</table>
