<table>
<tr>
<td class="Avatar">
	<img class="AvatarImage" src="[AvatarUrl]" />
</td>
<td class="Content">
	<div class="Info">
		<div class="Status"></div>
		<span class="InfoDelimiter">At</span>
		<span class="Time" style="color:[UserColorHex]">[Time]</span>
		<span class="InfoDelimiter">[RoomInfoDelimiter]</span>
		<span class="Room" style="color:[UserColorHex]">[Room]</span>
		<span class="InfoDelimiter">by</span>
		<span class="UserName"><a href="Users:[UserName]" style="color:[UserColorHex]">[UserName]</a></span>		
	</div>
	<p class="Text">[Text]</p>
</td>
</tr>
</table>