body
{
	background-color: #efedf9;
	line-height: 1.2em;
}

.Pending
{
	width: 10px;
	height: 10px;
	float: right;
	background-image: url(Pending.gif);
}

.Message
{
	margin: 0em 0em 0.8em 0em;
	padding: 0.8em 0.8em 0em 0.8em;
	-moz-border-radius: 0.5em;
	-moz-box-shadow: 2px 2px 2px #d0d0d9;	
}

.Message.Public
{
	background-color: #fbfeff;
}

.Message.Private
{
	background-color: #d0dddd;
}

.Avatar
{
	float: left;
	margin-right: 0.7em;
	margin-bottom: 0.7em;
	width: 48px;
	height: 48px;
}

.AvatarImage
{
	width: 48px;
	height: 48px;
	border: solid 2px White;
	-moz-box-shadow: 3px 3px 3px #808080;
}

.UserName
{
	margin: 0em 0em 0em 0em;
	font-family: Lucida Sans Unicode;
	font-size: 0.8em;
	color: #3a6bd9;
	text-shadow: 1px 1px 2px Grey;
	letter-spacing: -0.03em;
}

.UserName a
{
	text-decoration: none;
	color: #3a6bd9;
}

.Info
{
	margin: 0em 0em 0em 0em;
	font-family: Lucida Sans Unicode;
	font-size: 0.7em;
	color: #3a6bd9;	
}

.InfoDelimiter
{
	color: Black;
}

.Time
{
}


.Text
{
	clear: both;	
	font-family: Verdana;
	font-size: 0.8em;
	color: #343538;
	padding-bottom: 1em;
}