body
{
	background-color: #efedf9;
	line-height: 1.2em;
}

img
{
	border: none;
	vertical-align: middle;
}

embed
{
	width: 425px;
	height: 344px;
}

td
{
	vertical-align: top;
}


.FitSize
{
	max-width: 80px;
	vertical-align: middle;
}

.Pending
{
	width: 10px;
	height: 10px;
	float: right;
	background-image: url(Pending.gif);
}

.User
{
}

.Message
{
	overflow: hidden;
	margin: 0em 0em 0.8em 0em;
	padding: 0.8em 0.8em 0em 0.8em;
	-moz-border-radius: 0.5em;
	-moz-box-shadow: 2px 2px 2px #d0d0d9;	
}

.Unseen
{
	border: solid 1px Red;
}

.Message.Public
{
	background-color: #fbfeff;
}

.Message.Private
{
	background-color: #d0dddd;
}

.Avatar
{
	width: 52px;
}

.AvatarImage
{
	width: 48px;
	height: 48px;
	border: solid 2px White;
	-moz-box-shadow: 3px 3px 3px #808080;
}

.UserName
{
	font-family: Georgia;
	color: #3a6bd9;
	text-shadow: 1px 1px 2px Grey;
	letter-spacing: -0.03em;
}

.UserName a
{
	text-decoration: none;
	color: #3a6bd9;
}

.Info
{
	margin: 0em 0em 0em 0em;
	font-family: Lucida Sans Unicode;
	font-size: 0.7em;
	color: #3a6bd9;	
}

.InfoDelimiter
{
	color: Black;
}

.Time
{
}

.Content
{
	padding-left: 1em;
}

.Text
{
	font-family: Verdana;
	font-size: 0.8em;
	color: #343538;
	padding-bottom: 1em;
}