<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>Eee Chat</title>
		<link rel="stylesheet" type="text/css" href="NewStyle.css" />
	</head>
	<body>	

	<div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">kolik</h1>
<p class="Time">15:59</p>
<p class="Text">koho bavia studie
http://www.physorg.com/tags/social+psychology/</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">kolik</h1>
<p class="Time">15:59</p>
<p class="Text">free editor icon (neskusal som)
http://icofx.ro/</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">kolik</h1>
<p class="Time">15:59</p>
<p class="Text">a generator faviconov
http://tools.dynamicdrive.com/favicon/</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">firewalker</h1>
<p class="Time">15:59</p>
<p class="Text">"Humans are evolutionarily designed to be paranoid, and they believe in God because they are paranoid," says Kanazawa.

http://www.physorg.com/news186236813.html</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">kolik</h1>
<p class="Time">15:59</p>
<p class="Text">na tom cosi bude :)</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">kolik</h1>
<p class="Time">15:59</p>
<p class="Text">akurat u pha je rozpor, on je paranoidny a aj tak neveri v boha :)</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">firewalker</h1>
<p class="Time">15:59</p>
<p class="Text">Young adults who identify themselves as "not at all religious" have an average IQ of 103 during adolescence, while those who identify themselves as "very religious" have an average IQ of 97 during adolescence.

Young adults who subjectively identify themselves as "very liberal" have an average IQ of 106 during adolescence while those who identify themselves as "very conservative" have an average IQ of 95 during adolescence. 

:)</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">kolik</h1>
<p class="Time">15:59</p>
<p class="Text">:)</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">firewalker</h1>
<p class="Time">15:59</p>
<p class="Text">toto keby si povedal v mediach, tak ta budu hnat ako sovinistu, fasistu, a krypto-zido-bolsevika, a pod.</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">kolik</h1>
<p class="Time">15:59</p>
<p class="Text">jj</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">pha</h1>
<p class="Time">15:59</p>
<p class="Text">http://hry.sme.sk/c/5258869/slovenske-hry-zacinaju-vystrkovat-rozky.html</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">kolik</h1>
<p class="Time">15:59</p>
<p class="Text">fiha</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">pha</h1>
<p class="Time">15:59</p>
<p class="Text">kolik: paranoidny na co?
ja som to sam na sebe nejako nespozoroval :o
aj ked neviem ci sa to vobec da...</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">kolik</h1>
<p class="Time">15:59</p>
<p class="Text">na svetove sprisahanie?</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">kolik</h1>
<p class="Time">15:59</p>
<p class="Text">nejaka nova muzika?</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">pha</h1>
<p class="Time">15:59</p>
<p class="Text">:)
jaj, myslis tie konspiracne teorie?
ja to beriem s rezervou, sice ze na tom nieco je ale ze ten co o tom pise, tak to vzdy prehana
vsak vzdy sa o nieco podobne niekto/nejaka skupina snazila</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">kolik</h1>
<p class="Time">15:59</p>
<p class="Text">:)</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">pha</h1>
<p class="Time">15:59</p>
<p class="Text">horkyze slize budu v cadci
rozmyslam ze ci pojdem na koncert
bol uz niekto na ich koncerte?</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">btb</h1>
<p class="Time">15:59</p>
<p class="Text">ja som videl asi 4. treba ist, odhodit zabrany, zabavit sa, poskakat si !</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">pha</h1>
<p class="Time">15:59</p>
<p class="Text">tak je rozhodnute!</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">kolik</h1>
<p class="Time">15:59</p>
<p class="Text">nemal by niekto cas stiahnut mi toto a uploadnut na eee?
http://www.mediafire.com/file/uyztjqjnx1z/Skybound%20GeckoFX.chm
http://www.mediafire.com/?sharekey=d1f64ec1deb7777f1f8e0fff488e27e0e04e75f6e8ebb871</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">firewalker</h1>
<p class="Time">15:59</p>
<p class="Text">slyze maju super koncerty, bolo som asi na troch, z toho najlepsi bol v areali psychiatrickej liecebne Brno :)</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">firewalker</h1>
<p class="Time">15:59</p>
<p class="Text">kolik: idem na to...</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">firewalker</h1>
<p class="Time">15:59</p>
<p class="Text">http://service.eeechat.net/Upload/Skybound-GeckoFX.chm
</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">firewalker</h1>
<p class="Time">15:59</p>
<p class="Text">z toho druheho linku chces co?</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">kolik</h1>
<p class="Time">15:59</p>
<p class="Text">firewalker: neviem co tam je, mal by tam byt nejaky example?</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">kolik</h1>
<p class="Time">15:59</p>
<p class="Text">zis maria! sef si tu popevuje HOREHRONIE!</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">firewalker</h1>
<p class="Time">15:59</p>
<p class="Text">"ked na latríne trónim, na horehroní..."</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">pha</h1>
<p class="Time">15:59</p>
<p class="Text">najkrajsi itckari su na horehroniiii</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">pha</h1>
<p class="Time">15:59</p>
<p class="Text">kolik: vlado?</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">firewalker</h1>
<p class="Time">15:59</p>
<p class="Text">"èo to píšem do eklipsu, ani sama neviem..."</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">firewalker</h1>
<p class="Time">15:59</p>
<p class="Text">"keï je callstack naaaajniiiižšieeeee..."</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">pha</h1>
<p class="Time">15:59</p>
<p class="Text">:lol:</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">kolik</h1>
<p class="Time">15:59</p>
<p class="Text">:) pekne</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">kolik</h1>
<p class="Time">15:59</p>
<p class="Text">pha: barabas</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">kolik</h1>
<p class="Time">15:59</p>
<p class="Text">nejake synonymum k message vam nenapadne?</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">kolik</h1>
<p class="Time">15:59</p>
<p class="Text">ako by sa dala nazvat eee-ckova sprava inak ako message</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">pha</h1>
<p class="Time">15:59</p>
<p class="Text">kolik: no zbohom :|</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">kolik</h1>
<p class="Time">15:59</p>
<p class="Text">zeby Post?</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">pha</h1>
<p class="Time">15:59</p>
<p class="Text">comment resp. ten post ako si pisal</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">pha</h1>
<p class="Time">15:59</p>
<p class="Text">este note by mohlo byt</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">kolik</h1>
<p class="Time">15:59</p>
<p class="Text">ok, dik
lebo kua Message sa mi bije s .netovou triedou Message, cert to ber</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">pha</h1>
<p class="Time">15:59</p>
<p class="Text">tak potom daj ze XYMessage</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">pha</h1>
<p class="Time">15:59</p>
<p class="Text">a mas to oddelene</p>
</div><div class="Message Public"><div class="Avatar">
	<img class="AvatarImage" src="http://www.glyphlab.com/stock_icons/img/9311.gif">
</div>
<h1 class="UserName">kolik</h1>
<p class="Time">15:59</p>
<p class="Text">to by bolo spatne</p>
</div>

	</body>
</html>